@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap');

*,
body {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Noto Sans TC', sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
}